{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "reactSsr": true
      }
    ],
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ]
}
